/* CSS Document */
/* Tabber styles for DEscripts */

div.tabber {
	margin-top:1ex;
	margin-left:0.25em;
	margin-right:0.25em;
}

div.tabber ul.tabber_menu {
	margin:0px;
	padding:0.5ex 0em;
	font:bold 12px Verdana;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:thin;
}

div.tabber ul.tabber_menu li {
	list-style:none;
	display:inline;
	padding:0.5ex 0em;
	margin-left:0.3em;
	margin-right:-0.2em;
	border-style:solid;
	border-width:thin;
}

div.tabber ul.tabber_menu li a {
	padding:0.5ex 0.5em;
	text-decoration:none;
}

div.tabber ul.tabber_menu li.tabber_active a {
	cursor:default;
}

div.tabber div.tabber_tab {
	padding:1em;
	border-style:solid;
	border-top-style:none;
	border-width:thin;
}

div.tabber div.tabber_inactive {
	display:none;
}
