/* CSS Document */
/* Styles for DEscripts updates */

h3 {
	margin-top:2ex;
	margin-bottom:0ex;
}

h4 {
	margin-top:0ex;
	margin-bottom:0ex;
}

ul {
	margin-top:0ex;
	margin-bottom:0ex;
	list-style-type:circle;
}
